* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  background: #f7f7f7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
  background: #fff;
  padding: 24px 32px;
  border-radius: 16px;
  width: 650px;
  max-width: 650px;
  height: fit-content;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}



#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 500;
  color: #3b3b3b;
  pointer-events: none;
  z-index: 2;
}
.wave-container {
  position: relative;
  width: 350px;
  height: 80px;
  background: #e9eefb;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 16px;
}

#waveform {
  width: 100%;
  height: 100%;
  display: block;
}

canvas {
  width: 100%;
  height: 100%;
}

.recording-section {
  position: sticky;
  bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.record-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
  padding: 20px 40px;
  border: 1px solid #000;
  border-radius: 30px;
  background: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 24px;
}

.record-btn.recording {
  background: #e63946;
}

.recordings {
  text-align: center;
  width: 100%;
  padding-right: 6px;
  padding-bottom: 140px;
}

.recordings.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.recordings ul {
  list-style: none;
  padding: 0;
}

.recordings li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
